<div class="container-fluid">
  <div class="container">
    <div class="alert alert-warning" role="alert">
      Click on any of the table headers to sort by its field!
    </div>
  </div>
  <table class="table table-responsive table-striped table-bordered table-hover table-sm">
    <thead class="thead-light text-center small">
      <tr>
        <th ng-click="orderByMe('CustomerID')">CustomerID</th>
        <th ng-click="orderByMe('CompanyName')">CompanyName</th>
        <th ng-click="orderByMe('ContactName')">ContactName</th>
        <th ng-click="orderByMe('ContactTitle')">ContactTitle</th>
        <th ng-click="orderByMe('Address')">Address</th>
        <th ng-click="orderByMe('City')">City</th>
        <th ng-click="orderByMe('Country')">Country</th>
        <th ng-click="orderByMe('PostalCode')">PostalCode</th>
        <th ng-click="orderByMe('Email')">Email</th>
        <th ng-click="orderByMe('Phone')">Phone</th>
        <th ng-click="orderByMe('Fax')">Fax</th>
      </tr>
    </thead>
    <tbody class="small">
      <tr ng-repeat="i in contacts | orderBy:myOrderBy">
        <td style="width: 3%">{{i.CustomerID}}</td>
        <td>{{i.CompanyName}}</td>
        <td>{{i.ContactName}}</td>
        <td>{{i.ContactTitle}}</td>
        <td style="width: 15%">{{i.Address}}</td>
        <td>{{i.City}}</td>
        <td>{{i.Country}}</td>
        <td>{{i.PostalCode}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Phone}}</td>
        <td>{{i.Fax}}</td>
      </tr>
    </tbody>
  </table>
</div>